@import "src/style.scss";

.signup-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding-top: 100px;

  .info {
    color: whitesmoke;
    font-size: 1.2em;

    h1,
    h2 {
      color: white;
    }
  }

  .form-container {
    width: 500px;
    height: 600px;
    display: grid;
    padding: 15px 25px;
    border-radius: 4px;
    justify-self: center;
    box-shadow: 0px 0px 2px 2px $box_shadow;
    background: white;

    .heading {
      font-size: 1.2em;
      font-weight: 600;

      p {
        font-size: normal;
        font-weight: normal;
        margin-top: 8px;
      }

      hr {
        width: 100%;
      }
    }

    form {
      display: grid;
      grid-row-gap: 5px;
      grid-template-rows: 25px 90px 90px 90px 70px 60px;
      height: 100%;

      .error {
        color: firebrick;
        font-size: 0.8em;
        font-weight: 300;
        text-align: center;
        box-shadow: 0px -1px 2px 2px firebrick;
      }

      .info {
        background-color: $button-primary;
        color: $color;
        display: grid;
        justify-items: center;
        align-items: center;
      }

      .ant-form-item {
        margin-bottom: 0px;

        .ant-form-item-label {
          padding: 0px;
          color: #2a2a2a;
        }

        &:last-child {
          grid-template-columns: auto;
        }
      }

      .action-button {
        align-self: center;
      }

      .sign-in {
        justify-self: center;
        text-align: center;

      }
    }
  }
}

@media screen and (max-width: 500px),
screen and (max-height: 600px) {
  .signup-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 1px;
    height: 100%;

    .info {
      display: none;
    }


    .form-container {
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      border-radius: 0px;

      .heading {
        font-size: 1em;
        font-weight: 600;
      }
    }
  }
}