@import "src/style.scss";

.form-container {
  width: 500px;
  height: 500px;
  display: grid;
  padding: 15px 25px;
  border-radius: 4px;
  justify-self: center;
  box-shadow: 0px 0px 2px 2px $box_shadow;
  background: white;
  margin: auto;
  margin-top: 25px;

  .heading {
    font-size: 1.2em;
    font-weight: 600;

    p {
      font-size: normal;
      font-weight: normal;
      margin-top: 8px;
    }

    hr {
      width: 100%;
    }
  }

  form {
    display: grid;
    row-gap: 5px;
    grid-template-rows: 25px 90px 90px 90px 70px 60px;
    height: 100%;

    .name {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 5px;
    }

    .error {
      color: firebrick;
      font-size: 0.8em;
      font-weight: 300;
      text-align: center;
      box-shadow: 0px -1px 2px 2px firebrick;
    }

    .info {
      background-color: $button-primary;
      color: $color;
      display: grid;
      justify-items: center;
      align-items: center;
    }

    .ant-form-item {
      display: grid;
      margin-bottom: 0px;

      .ant-form-item-label {
        padding: 0px;
        color: #2a2a2a;
      }

      &:last-child {
        grid-template-columns: auto;
      }
    }

    .action-button {
      align-self: center;
    }

    .sign-in {
      justify-self: center;
      text-align: center;

    }
  }
}

@media screen and (max-width: 500px),
screen and (max-height: 500px) {
  .form-container {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    border-radius: 0px;

    .heading {
      font-size: 1em;
      font-weight: 600;
    }
  }
}