@import "src/style.scss";

.main-nav {
  display: grid;
  align-items: center;
  justify-items: left;
  padding-left: 100px;
  box-shadow: 0px 2px 4px 0px #ccc;
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  .slogan {
    color: #2a2a2a;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    font-family: cursive;
    font-weight: bolder;

    li {
      list-style: none;
    }

    span.bullet {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #1890ff;
      display: inline-block;
      margin-right: 6px;
    }

  }

  .sign-in-message {
    font-size: 0.8em;
    font-weight: normal;
    padding-right: 12px;
  }

  img {
    width: 50px;
  }

}

@media screen and (max-width: 450px),
screen and (max-height: 555px) {
  .main-nav {
    justify-items: center;
    padding-left:0px;
  }
}