@import "src/style.scss";

.main-nav {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
  justify-items: center;
  background-color: $background_color;
  color: $color;

  img {
    width: 60px;
    height: 60px;
  }

  .globe {
    border-radius: 50%;
  }
}
