@import "src/style.scss";

.signin-container {
  display: grid;
  padding-top: 100px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  .info {
    color: whitesmoke;
    font-size: 1.2em;

    h1,
    h2 {
      color: white;
    }
  }

  .form {
    width: 500px;
    height: 450px;
    display: grid;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 2px $box_shadow;
    background: white;

    form {
      display: grid;
      grid-row-gap: 5px;
      grid-template-rows: 25px 90px 90px 30px 90px 70px 60px;
      height: 100%;

      .error {
        color: firebrick;
        font-size: 0.8em;
        font-weight: 300;
        text-align: center;
        box-shadow: 0px -1px 2px 2px firebrick;
      }

      .info {
        background-color: $button-primary;
        color: $color;
        display: grid;
        justify-items: center;
        align-items: center;
      }

      .ant-form-item {
        margin-bottom: 0px;

        .ant-form-item-label {
          padding: 0px;
          color: #2a2a2a;
        }

        &:last-child {
          grid-template-columns: auto;
        }
      }

      .action-button {
        align-self: center;
      }

      .sign-in {
        justify-self: center;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 500px),
screen and (max-height: 450px) {
  .signin-container {
    padding-top: 1px;
    grid-template-columns: 1fr;
    height: 100%;

    .info {
      display: none;
    }

    .form {
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      border-radius: 0px;

      form {
        height: 100%;
      }
    }
  }
}