#backend
backend/version
backend/static
backend/.env

# frontend
frontend/dist
frontend/.env
frontend/.cache
frontend/.parcel/cache
frontend/public/js


#root
.env
.env.prod
.env.test
*.DS_Store
*/node_modules
*/.DS_Store
*/package-lock.json