version: "3.4"

services:
    frontend:
        build:
            context: ./frontend
        image: frontend_dev
        container_name: frontend_dev
        volumes:
          - ./frontend:/usr/app
          - /usr/app/node_modules # Do not override node_modules folder in container 
        ports:
          - 3000:3000
        environment:
          - NODE_ENV=development
          - SOCKET_URL=http://localhost:3001
        links:
            - backend:backend
        depends_on:
            - backend
    backend:
        build:
            context:  ./backend
        image: backend_dev
        container_name: backend_dev
        volumes:
            - ./backend:/usr/app
            - /usr/app/node_modules
        ports:
            - 3001:8080
            - 9229:9229 # inspect port
        env_file: .env
        environment:
            - MONGO_HOST=mongo
            - MONGO_PORT=$MONGO_PORT
            - MONGO_USERNAME=$MONGO_USERNAME
            - MONGO_PASSWORD=$MONGO_PASSWORD
            - MONGO_DB=$MONGO_DB
            - FORCE_COLOR=1
        links:
            - mongo:mongo
        depends_on: 
            - mongo
        command: /usr/app/docker/wait-for.sh $MONGO_HOST:$MONGO_PORT -- npm run dev
    mongo:
        image: "mongo:4.2"
        env_file: .env
        environment:
            - MONGO_INITDB_ROOT_USERNAME=$MONGO_USERNAME
            - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASSWORD