@import "src/style.scss";

.chat {
  height: 100%;
  display: grid;
  grid-template-areas: "sidebar chat";
  grid-template-columns: 240px 1fr;
}

.mobile-chat {
  @extend .chat;
  grid-template-columns: 1fr;
}

.mobile-chat-with-sidebar-open {
  @extend .mobile-chat;
  grid-template-columns: 1fr 100px;
}

.main-container {
  height: 100vh;
  max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;
  .left-sidebar {
    .logo {
      color: white;
      margin: 12px;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      grid-row-gap: 10px;
      a {
        svg {
          font-size: 1.5em;
          color: white;
        }
      }
    }
  }
  .chat-container {
    display: flex;
    flex-wrap: wrap;

    .chat-header {
      display: grid;
      grid-template-columns: 40px 1fr 60px;
      justify-items: center;
      align-items: center;
      flex: 0 0 100%;
      color: white;
      svg {
        color: white;
        font-size: 18px;
        &:last-child {
          text-align: right;
        }
      }
    }
    .chat-body {
      height: calc(100vh - 66px);
      max-height: 100vh;
      height: calc(calc(var(--vh, 1vh) * 100) - 65px);
      max-height: calc(calc(var(--vh, 1vh) * 100) - 65px);
      overflow-y: hidden;
    }
    .right-sidebar {
      margin-top: 1px;
      overflow-y: auto;
      .profile {
        height: 150px;
        color: white;
        display: grid;
        grid-template-rows: 1fr 35px;
        justify-items: center;
        align-items: center;
      }
    }
  }
}
/* Ant Design */

.ant-layout-has-sider {
  .site-layout {
    display: grid;
    grid-template-rows: 64px 1fr;
  }
  .ant-layout-content {
    margin: 0px !important;
    padding: 0px !important;

    .ant-layout-sider {
      margin-top: 1px;

      li.ant-menu-submenu {
        margin-top: 2px;
        div.ant-menu-submenu-title {
          box-shadow: 0px 1px 1px 1px $box-shadow;
        }
        ul {
          height: auto;
          max-height: 400px;
          overflow-y: auto;
        }
      }
    }
  }
}
.site-layout-header {
  display: grid;
  grid-template-columns: 30px auto 60px;
  color: white;
  justify-items: center;
  align-items: center;
  .chat-heading {
    color: white;
  }
  svg {
    color: white;
  }
  .anticon-info-circle {
    font-size: 1.5em;
    cursor: pointer;
  }
}

.logo-collapse {
  @extend .logo;
  grid-template-columns: auto;
  background: none;
  margin: 7px;
  img {
    width: 50px;
    height: 50px;
    border: 3px solid white;
  }
}

li.ant-menu-submenu {
  div.ant-menu-submenu-title {
    box-shadow: 0px 1px 1px 1px $box-shadow;
  }
  ul {
    height: calc(calc(var(--vh, 1vh) * 50) - 30px);
    overflow-y: auto;
  }
}

.site-layout-content {
  display: grid;
  grid-template-columns: 1fr 200px;

  .profile {
    height: 150px;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    grid-template-rows: 1fr 50px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      align-self: flex-end;
    }
  }
}
