.chat {
    display: grid;
    grid-template-areas:
        "chat-body"
        "chat-footer";
    grid-template-rows: 1fr 80px;
    height: 100%;

    .body {
        grid-area: chat-body;
        display: grid;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        grid-row-gap: 15px;
        justify-content: center;
        align-items: center;
        ;

        .heading {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 2px solid white;

            p {
                margin-bottom: 5px;
            }
        }

        .popular-chat-room {

            .chat-room {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 10px;
                grid-column-gap: 25px;

                .room {
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    justify-content: center;
                    align-items: center;
                    grid-column-gap: 10px;
                    background-color: #4a4a4a;
                    min-height: 40px;
                    cursor: pointer;

                    &:hover {
                        background-color: #2a2a2a;
                    }

                    .icon {
                        height: 100%;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

            p {
                font-size: 18px;
                text-align: center;
            }
        }

        .random-outlet {
            text-align: center;

            p {
                margin-bottom: 0px;
                font-size: 20px;
                ;
            }

            span.help-text {
                font-size: small;
            }

            .random-outlet-box {
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                justify-items: center;
                align-items: center;

                p {
                    font-size: 16px;
                }

                .outlet-container {
                    height: 120px;
                    width: 120px;
                    border: 5px solid red;
                    border-radius: 50%;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    background-color: #00796b;


                    .triangle-up {
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 20px solid red;
                        position: absolute;
                        top: -20px;
                        left: 15px;

                    }

                    .start {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: red;
                        box-shadow: 0px 0px 0px 3px indianred;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        transition: transform 5s ease-out;

                        .start-text {
                            transition: 5s ease-out;

                        }

                    }
                }
            }
        }

    }

    .footer {
        grid-area: chat-footer;
        display: grid;
        grid-template-rows: 15px 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-row-gap: 5px;

        .help-text {
            font-size: small;
        }

        .create-account {
            text-align: center;

            button {
                width: 150px;
                padding: 12px;
                border: none;
                cursor: pointer;
                color: antiquewhite;
                font-size: 18px;
                background: blueviolet;
            }
        }
    }
}


@media only screen and (max-width: 812px) {
    .chat {
        .body {
            width: 90%;

            .popular-chat-room {
                .chat-room {
                    grid-column-gap: 15px;
                }
            }
        }
    }
}