@import "src/style.scss";

.form {
  form {
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: 25px 105px 105px 90px;
    height: 100%;

    .error {
      color: firebrick;
      font-size: 0.8em;
      font-weight: 300;
      text-align: center;
      box-shadow: 0px -1px 2px 2px firebrick;
    }

    .info {
      background-color: $button-primary;
      color: $color;
      display: grid;
      justify-items: center;
      align-items: center;
    }

    .ant-form-item {
      .ant-form-item-label {
        padding: 0px;
      }

      &:last-child {
        grid-template-columns: auto;
      }
    }
  }
}