@import "src/style.scss";

.sidebar {
  display: grid;
  grid-template-rows: 60px 1fr 1fr;
  box-shadow: 0px 0px 1px 1px $box_shadow inset;

  .app-logo {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: $color;
    background-color: $background_color;
  }
  .rooms,
  .users {
    display: grid;
    grid-template-rows: 40px 1fr;
    height: calc(50vh - 30px);
  }

  .rooms-heading,
  .users-heading {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    box-shadow: 0px 1px 2px $box_shadow;
    background-color: $active_tab;
    font-weight: 600;

    .caret {
      justify-self: center;
      font-size: 1.5em;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  .rooms-list,
  .users-list {
    overflow-y: auto;
    padding-bottom: 16px;

    li {
      padding: 16px 24px;
      list-style: none;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: $background_color;
        color: $color;
      }
    }
    li.active {
      background-color: $hover_color;
      color: $color;
    }
  }
}
