@import "src/style.scss";
/*** New Styling **/

.left-sidebar {
  height: 100vh;
  max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);

  .logo {
    height: 64px;
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    color: white;
    justify-items: center;
    align-items: center;
    background: dodgerblue;

    .anticon-caret-down {
      svg {
        color: white;
        font-size: 1em;
      }
    }
  }

  .logo-small {
    @extend .logo;
    grid-template-columns: 1fr;
  }

  .ant-layout-sider-children {
    ul.sidebar-topic {
      height: calc(100vh - 64px);
      max-height: calc(100vh - 64px);
      height: calc(calc(var(--vh, 1vh) * 100) - 64px);
      max-height: calc(calc(var(--vh, 1vh) * 100) - 64px);
      overflow-y: scroll;

      li.ant-menu-submenu {
        div.ant-menu-submenu-title {
          font-weight: bold;
          box-shadow: 0px 1px 1px 1px $box-shadow;
          padding-left: 16px !important;
        }

        .sub-topic {
          div.ant-menu-submenu-title {
            font-weight: 600;
            box-shadow: none;
            padding-left: 32px !important;
          }

          ul {
            li.ant-menu-item {
              padding-left: 48px !important;
            }
          }
        }

        // ul {
        //     height: calc(50vh - 80px);
        //     height: calc(calc(var(--vh, 1vh) * 50) - 80px);
        //     overflow-y: auto;
        //     overflow-x: hidden;

        // }
      }
    }
  }

}

.small-left-sidebar {
  @extend .left-sidebar;
  width: 100vw !important;
  min-width: 100vw !important;
  max-width: 100vw !important;

  .logo {
    grid-template-columns: 60px 1fr 40px 40px;

  }
}

ul.menu-item {
  li.ant-dropdown-menu-item {
    display: flex;
    flex-direction: column;
  }
}