@import "src/style.scss";

.sidebar {
  display: grid;
  grid-template-rows: 60px 1fr 1fr;
  box-shadow: 0px 0px 1px 1px $box_shadow inset;
  z-index: 10;

  .user-profile {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: $color;
    background-color: $background_color;
    grid-template-columns: 60px auto 40px;
    position: relative;

    .profile-picture {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    .gear-icon {
      i.active {
        color: black;
        background-color: #ddd;
        border-radius: 50%;
      }
    }

    .profile-popup {
      background-color: white;
      color: black;
      font-weight: normal;
      font-size: 1em;
      width: 150px;
      height: 225px;
      position: absolute;
      top: 100%;
      right: -50px;
      z-index: 4;
      box-shadow: 0px 2px 2px 1px $box-shadow;
      display: grid;
      align-items: center;
      grid-template-rows: 150px 1fr 1fr;

      i {
        position: absolute;
        top: -23px;
        left: 40%;
        color: white;
        font-size: 2em;
      }

      .profile-status {
        display: grid;
        justify-items: center;
        align-items: center;
        font-size: 0.8em;
        grid-template-rows: auto 30px;

        .profile-status-text {
          align-self: end;
        }

        .status {
          .status-bar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border-top: 8px solid green;
            border-right: 8px solid green;
            display: grid;
            text-align: center;
            align-items: center;
          }
        }
      }

      li {
        list-style: none;
        padding: 6px;
        text-align: center;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: 0px -1px 1px 0px $box-shadow;

        &:last-child {
          box-shadow: 0px 0px 1px 1px $box-shadow;
        }

        &:hover {
          background-color: $background_color;
          color: $color;
        }
      }
    }
  }

  .rooms,
  .users {
    display: grid;
    grid-template-rows: 40px 1fr;
    height: calc(50vh - 30px);
  }

  .rooms-heading,
  .users-heading {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    box-shadow: 0px 1px 2px $box_shadow;
    background-color: $active_tab;
    font-weight: 600;

    .caret {
      justify-self: center;
      font-size: 1.5em;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  .rooms-list,
  .users-list {
    overflow-y: auto;
    padding-bottom: 16px;

    .no-friends {
      text-align: center;
    }

    li {
      padding: 16px 24px;
      list-style: none;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: $background_color;
        color: $color;
      }
    }

    li.active {
      background-color: $hover_color;
      color: $color;
    }
  }
}

.mobile-sidebar {
  @extend .sidebar;
  grid-template-rows: 50px auto auto;
  max-height: 91vh;

  .rooms,
  .users {
    height: calc(calc(var(--vh, 1vh) * 50) - 30px);
  }

  .rooms-list,
  .users.list {
    padding-bottom: 0px;

    li {
      padding: 16px;
    }
  }
}
