.right-sidebar {
    height: calc(100vh - 64px);
    height: calc(calc(var(--vh, 1vh) * 100) - 64px);

    .profile {
        height: 150px;
        color: white;
        display: grid;
        grid-template-rows: 1fr 45px;
        justify-items: center;
        align-items: center;

        span {
            align-self: flex-end;
        }
    }

    .no-users {
        padding: 16px 32px;
    }
}

.right-sidebar-mobile {
    @extend .right-sidebar;
    position: absolute !important;
    top: 64px;
    right: 0px;
    width: 0px;
    transition: right 0.2s;
}

.right-sidebar-mobile-shown {
    @extend .right-sidebar-mobile;
    top: 64px;
    width: 200px;
}