@import "src/style.scss";

.chat-body {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  .chat-header {
    flex: 0 0 100%;
    display: grid;
    padding: 0px;
    grid-template-columns: 60px auto 100px;
    grid-template-areas: "menu header info";
    justify-items: center;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: white;
    color: #2a2a2a;
    box-shadow: 0px 1px 0px 0px #ccc;

    .chat-title {
      font-size: 1.5em;
      grid-area: header;
    }

    svg {
      font-size: 1.2em;
    }

    .anticon-menu-fold {
      grid-area: menu;

      &:hover {
        color: dodgerblue;
      }
    }

    .info-circle {
      cursor: pointer;
      display: grid;
      grid-template-columns: 24px auto;
      align-items: center;

      .anticon-info-circle {
        margin-right: 4px;
        font-size: 1.2em;
        font-weight: bold;
      }

      &:hover {
        color: dodgerblue;
      }
    }
  }

  .chat-header-small {
    @extend .chat-header;
    grid-template-columns: 60px auto 60px;

  }

  .chat-content {
    height: calc(100vh - 65px);
    height: calc(calc(var(--vh, 1vh) * 100) - 65px);
    display: grid;
    grid-template-rows: 1fr 60px;

    .message-container {
      padding: 12px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .sender,
      .icon-sender {
        align-self: flex-end;
        width: auto;
        max-width: 80%;
      }

      .receiver,
      .icon-receiver {
        align-self: flex-start;
        width: auto;
        max-width: 80%;
      }

      .admin {
        align-self: center;
        width: 100%;
      }
    }

    .message-footer {
      display: grid;
      grid-template-columns: 60px 1fr 60px;
      justify-items: center;
      align-items: center;
      background: white;
      position: relative;

      .upload-icon {
        position: relative;

        .ant-upload-picture-card-wrapper {

          .ant-upload,
          .ant-upload-select,
          .ant-upload-select-picture-card {
            margin-right: 0px;
            margin-bottom: 0px;
            width: auto;
            height: auto;
            border: none;
            background: none;
          }

          .ant-upload-list-picute-card,
          .ant-upload-list {
            position: absolute;
            bottom: 100%;
            display: flex;
          }
        }
      }

      .disabled {
        .ant-upload-picture-card-wrapper {

          .ant-upload .ant-upload-select,
          .ant-upload-select-picture-card {
            pointer-events: none;
            opacity: 0.6;
          }
        }
      }

      button {
        background: none;
        font-size: 1.5em;
        border: none;
        color: rgb(24, 144, 255);
      }

      input {
        background: #f0f2f5;
      }

      .typing {
        position: absolute;
        bottom: 0px;
        left: 60px;
        font-size: 0.8em;
        font-style: italic;
        color: #757575;
      }
    }
  }
}

.chat-body-rooms {
  @extend .chat-body;

  .chat-header {
    grid-template-areas: "menu header header";

    .info-circle {
      display: none;
    }
  }

}