@import "src/style.scss";

.message {
  display: grid;
  grid-template-areas:
    "chat-navigation chat-navigation"
    "chat-room chat-sidebar";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 250px;
  height: 100%;
  overflow-x: hidden;

  .message-nav {
    grid-area: chat-navigation;
    display: grid;
    grid-template-columns: 1fr 120px;
    justify-items: center;
    align-items: center;
    color: $black;
    box-shadow: 0px 1px 2px 1px $box_shadow;
    text-overflow: ellipsis;
    white-space: nowrap;

    p {
      font-size: 1.2em;
      font-weight: bold;
      text-overflow: ellipsis;
    }

    .gear {
      i {
        font-size: 2em;
      }

      i.active {
        background-color: #ddd;
        border-radius: 50%;
      }
    }
  }

  .message-nav-with-hamburger {
    @extend .message-nav;
    grid-template-columns: 60px 1fr 60px;

  }

  .messages {
    grid-area: chat-room;
    display: grid;
    grid-template-rows: 1fr 65px;
    grid-row-gap: 10px;
    width: 100%;

    .message-container {
      padding: 0px 8px;
      height: calc(100vh - 135px);
      overflow-y: auto;
      overflow-x: hidden;
      grid-gap: 10px;
      position: relative;

      #recentMessage {
        float: left;
        clear: both;
      }
    }

    .chat-image {
      width: 100%;
    }

    .chat-other {
      justify-content: start;
      max-width: 45%;
      margin-right: auto;

      .chat-message {
        background-color: $active_tab;
        color: $black;
      }
    }

    .chat-self {
      max-width: 45%;
      margin-left: auto;
      justify-content: end;

      .chat-message {
        background: $background_color;
        color: $color;
      }

      .chat-emoji {
        background-color: $color;
        color: $background_color;
      }
    }

    .admin {
      .chat-message {
        color: $black;
        background-color: $active_tab;
      }
    }

    .chat-item {
      width: 100%;
      display: grid;
      grid-template-rows: 18px auto 12px;

      .username {
        font-size: 0.8em;
        color: gray;
      }

      .chat-message {
        padding: 8px;
        border-radius: 12px;
        align-items: center;
      }

      .center {
        text-align: center;
      }

      .left {
        justify-self: start;
      }

      .right {
        justify-self: end;
      }

      .time {
        justify-self: end;
        font-size: 0.8em;
        color: gray;
      }
    }

    .message-footer {
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      grid-template-rows: auto 20px;
      grid-template-areas:
        "icon input send"
        ". typing .";
      align-items: center;
      width: 100%;
      margin: auto;

      .typing {
        grid-area: typing;
        font-style: italic;
        font-size: 0.8em;
        color: gray;
        justify-self: flex-start;
        align-self: end;
      }

      .icons {
        grid-area: icon;
        color: #ddd;
        font-style: italic;
        font-size: 0.9em;
        padding-left: 10px;
        outline: none;
        cursor: pointer;
        font-size: 1.5em;
        border: none;
        color: $background_color;
        justify-self: center;
        background-color: $color;
      }

      input {
        grid-area: input;
        border-radius: 8px;
        background-color: $active_tab;
        border: none;
        border: 1px solid $box_shadow;
        padding: 0.375rem 0.75rem;
        height: 75%;
        line-height: 1.5;
        outline: none;
        transition: 300ms ease-in-out;
        font-size: 16px;

        &:focus {
          outline: 0;
          box-shadow: 0 0 1px 1px $box_shadow;
        }
      }

      button {
        grid-area: send;
        outline: none;
        cursor: pointer;
        font-size: 1.5em;
        border: none;
        color: $background_color;
        justify-self: center;
        background: none;

        svg.fa-thumbs-up {
          margin-bottom: 2px;
        }

        &:hover {
          color: $hover_color;
        }

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }
  }

  .messages-file-preview {
    @extend .messages;
    grid-template-rows: 1fr 100px 65px;
    grid-row-gap: 0px;

    .message-container {
      height: calc(100vh - 235px);
    }

    .file_preview {
      position: relative;
      height: 100px;
      z-index: 1;
      background: white;
      box-shadow: 0px -1px 2px 0px #eee;

      img {
        height: 100px;
        width: 100px;
      }

      .removeImage {
        position: absolute;
        left: 75px;
        top: 2px;
        border: 1px solid white;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: grid;
        justify-items: center;
        align-items: center;
        font-size: 0.6em;
        cursor: pointer;
        color: white;

        &:hover {
          background: #aaa;
        }
      }
    }
  }

  .right-sidebar {
    grid-area: chat-sidebar;
    display: grid;
    grid-template-rows: 150px 1fr;
    box-shadow: 0px 0px 1px 1px $box_shadow inset;
    z-index: 10;
    background: white;

    .profile {
      display: grid;
      justify-items: center;
      grid-template-rows: 1fr 25px;
      box-shadow: 0px 1px 2px $box_shadow;

      img {
        justify-self: center;
        align-self: end;
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
    }

    .users {
      display: grid;
      grid-template-rows: 40px 1fr;
      height: calc(100vh - 230px);

      .no-user {
        text-align: center;
      }

      .heading {
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        justify-items: center;
        box-shadow: 0px 1px 2px #aaa;
        background-color: #ddd;
        font-weight: 600;
      }

      .users-list {
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 16px;

        .user {
          display: grid;
          grid-template-columns: auto 1fr;

          .img {
            padding-left: 24px;
            justify-self: center;
            align-self: center;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }

          li {
            padding: 16px 24px;
            list-style: none;
            align-self: center;
          }
        }
      }
    }
  }
}

.desktop-message {
  @extend .message;
  grid-template-areas:
    "chat-navigation chat-navigation"
    "chat-room chat-room";

  .messages {
    grid-column: 1fr;
  }

  .right-sidebar {
    width: 250px;
  }


}

.mobile-message {
  @extend .message;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "chat-navigation chat-navigation"
    "chat-room chat-room";
  grid-template-columns: 100px 1fr;

  .message-nav {
    grid-template-columns: 60px 1fr 60px;
    background-color: $hover_color;
    color: $color;

    p {
      font-size: 1em;
      font-weight: bold;
      text-overflow: ellipsis;
    }

    .gear {
      i.active {
        background-color: inherit;
      }
    }
  }

  .messages {
    .message-container {
      height: calc(91vh - 135px);
    }
  }

}

.mobile-message-with-infobar-open {
  @extend .mobile-message;
  grid-template-areas:
    "chat-navigation chat-navigation"
    "chat-room chat-sidebar";

  .right-sidebar {

    .users {
      height: calc(91vh - 230px);
    }
  }
}