@import "src/style.scss";

.message {
  display: grid;
  grid-template-areas:
    "chat-navigation chat-navigation"
    "chat-room chat-room";
  grid-template-rows: 60px 1fr;
  height: 100%;
  overflow-x: hidden;

  .message-nav {
    grid-area: chat-navigation;
    display: grid;
    grid-template-columns: 1fr 120px;
    justify-items: center;
    align-items: center;
    color: $black;
    box-shadow: 0px 1px 2px 1px $box_shadow;

    p {
      font-size: 1.2em;
      font-weight: bold;
    }

    .settings {
      .gear {
        cursor: pointer;
        transition: 1s linear;
        .info {
          width: 25px;
          height: 25px;
          border: 3px solid #2a2a2a;
          border-radius: 50%;
          font-size: 1.5em;
          display: grid;
          justify-items: center;
          align-items: center;
          font-weight: bold;
          color: #2a2a2a;
        }
        .info-hidden {
          @extend .info;
          color: white;
          background-color: #2a2a2a;
        }
      }
    }
  }

  .messages {
    grid-area: chat-room;
    display: grid;
    grid-template-rows: 1fr 65px;
    grid-row-gap: 10px;
    width: 100%;

    .message-container {
      padding: 0px 8px;
      height: calc(100vh - 135px);
      overflow-y: auto;
      grid-gap: 10px;

      #recentMessage {
        float: left;
        clear: both;
      }
    }
    .chat-image {
      width: 100%;
    }

    .chat-other {
      justify-content: start;
      max-width: 45%;
      margin-right: auto;

      .chat-message {
        background-color: $active_tab;
        color: $black;
      }
    }

    .chat-self {
      max-width: 45%;
      margin-left: auto;
      justify-content: end;

      .chat-message {
        background: $background_color;
        color: $color;
      }
      .chat-emoji {
        background-color: $color;
        color: $background_color;
      }
    }

    .admin {
      .chat-message {
        color: $black;
        background-color: $active_tab;
      }
    }

    .chat-item {
      width: 100%;
      display: grid;
      grid-template-rows: 18px auto 12px;

      .username {
        font-size: 0.8em;
        color: gray;
      }

      .chat-message {
        padding: 8px;
        border-radius: 12px;
        align-items: center;
      }

      .center {
        text-align: center;
      }

      .left {
        justify-self: start;
      }

      .right {
        justify-self: end;
      }

      .time {
        justify-self: end;
        font-size: 0.8em;
        color: gray;
      }
    }

    .message-footer {
      display: grid;
      grid-template-columns: 50px 1fr 35px;
      grid-template-rows: auto 20px;
      grid-template-areas:
        "icon input send"
        ". typing .";
      grid-column-gap: 10px;
      align-items: center;
      width: 100%;
      margin: auto;
      .typing {
        grid-area: typing;
        font-style: italic;
        font-size: 0.8em;
        color: gray;
        justify-self: flex-start;
        align-self: end;
      }
      .icons {
        grid-area: icon;
        color: #ddd;
        font-style: italic;
        font-size: 0.9em;
        padding-left: 10px;
        outline: none;
        cursor: pointer;
        font-size: 1.5em;
        border: none;
        color: $background_color;
        justify-self: center;
        background-color: $color;
      }

      input {
        grid-area: input;
        border-radius: 8px;
        background-color: $active_tab;
        border: none;
        border: 1px solid $box_shadow;
        padding: 0.375rem 0.75rem;
        height: 75%;
        line-height: 1.5;
        outline: none;
        transition: 300ms ease-in-out;
        font-size: 16px;
        &:focus {
          outline: 0;
          box-shadow: 0 0 1px 1px $box_shadow;
        }
      }

      button {
        grid-area: send;
        outline: none;
        cursor: pointer;
        font-size: 1.5em;
        border: none;
        color: $background_color;
        justify-self: center;
        background-color: $color;
        svg.fa-thumbs-up {
          margin-bottom: 2px;
        }

        &:hover {
          color: $hover_color;
        }
        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }
  }

  .right-sidebar {
    grid-area: chat-sidebar;
  }
}

.sidebar-open {
  grid-template-areas:
    "chat-navigation chat-navigation"
    "chat-room chat-sidebar";
  grid-template-columns: 3fr 1fr;

  .right-sidebar {
    display: grid;
    grid-template-rows: 150px 1fr;
    box-shadow: 0px 0px 1px 1px $box_shadow inset;

    .profile {
      display: grid;
      justify-items: center;
      grid-template-rows: 1fr 25px;
      box-shadow: 0px 1px 2px $box_shadow;

      img {
        justify-self: center;
        align-self: end;
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
    }

    .users {
      display: grid;
      grid-template-rows: 40px 1fr;
      height: calc(100vh - 230px);

      .heading {
        justify-self: center;
        align-self: center;
      }

      .users-list {
        overflow-y: auto;

        .user {
          display: grid;
          grid-template-columns: auto 1fr;

          .img {
            padding-left: 24px;
            justify-self: center;
            align-self: center;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }

          li {
            padding: 16px 24px;
            list-style: none;
            align-self: center;

            &:last-child {
              padding-bottom: 32px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 812px) {
  .message {
    .message-body {
      grid-template-areas: "chat chat";
    }
  }
}
