html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;

  i {
    cursor: pointer;
    font-size: 1.2em;
  }

  .loading {
    text-align: center;
  }
}

#root {
  height: 100vh;
  max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  .app {
    height: 100%;
  }
  .app > div:first-child {
    height: 100%;
  }
}

$background_color: #1e88e5;
$button_primary: #1e88e5;
$color: #fff;
$box_shadow: #aaa;
$hover_color: #1565c0;

$black: #000;
$active_tab: #ddd;
$active_link: #aaa;
