html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
}
#root {
  height: 100%;
}

.app {
  display: grid;
  grid-gap: 10px;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";

  grid-template-rows: 100px 1fr 80px;

  nav {
    grid-area: nav;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  main {
    grid-area: main;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      "main-nav"
      "main-body"
      "main-footer";

    grid-template-rows: 60px 1fr 80px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;

    .main-nav {
      grid-area: main-nav;
      width: 100%;
      display: grid;
      grid-template-columns: 60px 1fr 60px;
      grid-column-gap: 25px;
      align-items: center;
      background-color: #00796b;
      box-shadow: 0px 0px 5px #00796b;
      img {
        height: 55px;
        width: 55px;
      }

      .spinning-globe {
        img {
          border-radius: 50%;
        }
      }
    }
    .main-body {
      grid-area: main-body;
      .heading {
        font-size: 18px;
        text-align: center;
        p {
          font-size: 24px;
          margin-bottom: 5px;
        }
        font-weight: bold;
      }
      .info {
        text-align: center;
        font-size: 18px;
        .line {
          width: 60%;
          margin: auto;
        }
        p {
          margin-bottom: 5px;
        }
        margin-bottom: 20px;
      }

      .form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0.3fr 1fr;
        grid-row-gap: 15px;

        label {
          font-weight: 600;
        }

        .form-control {
          display: grid;
          grid-template-columns: 1fr 2fr;

          .form-group {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            .input-group {
              display: grid;
              grid-template-columns: 1fr 5fr;
            }
          }
        }
        .form-footer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          button {
            width: 200px;
            padding: 16px;
            border: none;
            cursor: pointer;
            color: antiquewhite;
            font-size: 18px;
          }
          button.create {
            background: blueviolet;
          }
          button.chat {
            background: #2a2a;
          }
          .help-text {
            font-size: small;
            text-align: center;
            width: 60%;
          }
        }
      }
    }
  }
  .main-footer {
    grid-area: main-footer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #00796b;
    box-shadow: 0px 0px 5px #00796b;

    width: 100%;
    text-align: right;
    grid-gap: 15px;
    .login {
      text-align: right;
      padding-right: 15px;
      button {
        width: 120px;
        padding: 10px;
        border: none;
        cursor: pointer;
        color: antiquewhite;
        font-size: 18px;
        background: #2a2a;
      }
    }
  }
}

footer {
  grid-area: footer;
}

main {
  background-color: #009688;
}

/* Media queries for small devices */

@media only screen and (max-width: 812px) {
  .app {
    grid-template-areas:
      "main"
      "main"
      "main";
    main {
      width: 100%;
      margin: 0px;
      grid-template-rows: 60px 1fr 60px;

      .main-body {
        .heading {
          p {
            margin-top: 10px;
          }
        }
        .form {
          grid-template-rows: 1fr 1.2fr 0.8fr 0.2fr 1fr;
          grid-row-gap: 8px;

          .form-footer {
            .help-text {
              width: 100%;
            }
            button {
              padding: 12px;
              font-size: 16px;
            }
          }
        }
      }
    }
    nav {
      display: none;
    }
    footer {
      display: none;
    }
  }
}
