html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  grid-gap: 10px;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top-margin"
    "main"
    "bottom-margin";

  grid-template-rows: 100px 1fr 1fr;

  nav {
    grid-area: top-margin;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  main {
    grid-area: main;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      "main-nav"
      "main-body";

    grid-template-rows: 60px 1fr;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: white;

    .main-nav {
      grid-area: main-nav;
      width: 100%;
      display: grid;
      grid-template-columns: 60px 1fr 60px;
      grid-column-gap: 25px;
      align-items: center;
      background-color: #00796b;
      box-shadow: 0px 0px 5px #00796b;

      img {
        height: 55px;
        width: 55px;
      }

      .spinning-globe {
        img {
          border-radius: 50%;
        }
      }
    }

    .main-body {
      grid-area: main-body;
      width: 100%;
      height: auto;
    }

    .main-body>div {
      height: 100%;
    }
  }
}

footer {
  grid-area: bottom-margin;
}

main {
  background-color: #009688;
}

/* Media queries for small devices */

@media only screen and (max-width: 812px) {
  .app {
    grid-template-areas:
      "main"
      "main"
      "main";

    main {
      width: 100%;
      margin: 0px;
      grid-template-rows: 60px 1fr;
    }

    nav {
      display: none;
    }

    footer {
      display: none;
    }
  }
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed !important;
}