html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  i {
    cursor: pointer;
    font-size: 1.2em;
  }

  .loading {
    text-align: center;
  }
}

#root {
  height: 100%;
}

$background_color: #1e88e5;
$button_primary: #1e88e5;
$color: #fff;
$box_shadow: #aaa;
$hover_color: #1565c0;

$black: #000;
$active_tab: #ddd;
$active_link: #aaa;

@media only screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}