@import "src/style.scss";

.home {
  display: grid;
  grid-template-rows: 80px 1fr;
  height: 100%;

  .body {
    display: grid;
    background: #4b6cb7;
    background: -webkit-linear-gradient(to right, #4b6cb7, #182848);
    background: linear-gradient(to right, #4b6cb7, #182848);

  }

  .body>div {
    height: 100%;
  }
}

@media screen and (max-width: 450px),
screen and (max-height: 555px) {
  .home {
    .body {
      height: 100%;
      width: 100%;
      border-radius: 0px;
      box-shadow: 0px 0px 4px 2px $box_shadow inset;
    }
  }
}