.home {
  display: grid;
  grid-template-rows: 80px 1fr;

  .body {
    justify-self: center;
    display: grid;
    border: 2px solid #2a2a2a;
    width: 450px;
    height: 550px;
    margin-top: 50px;

    .heading {
      text-align: center;
      .title {
        font-size: 24px;
      }
      p {
        margin-bottom: 8px;
      }
      hr {
        width: 40%;
      }
    }
  }
}
