@import "src/style.scss";

.home {
  display: grid;
  grid-template-rows: 80px 1fr;
  height: 100%;

  .body {
    width: 450px;
    height: 475px;
    display: grid;
    padding: 15px 25px;
    border-radius: 12px;
    justify-self: center;
    align-self: center;
    grid-template-rows: 120px auto;
    box-shadow: 0px 4px 12px 4px $box_shadow;

    .heading {
      text-align: center;

      .title {
        font-size: 24px;
      }

      p {
        margin-bottom: 8px;
      }

      hr {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 450px),
screen and (max-height: 555px) {
  .home {
    .body {
      height: 100%;
      width: 100%;
      border-radius: 0px;
      box-shadow: 0px 0px 4px 2px $box_shadow inset;

      .heading {
        .title {
          font-size: 20px;
        }

        p {
          margin: 4px;
        }
      }
    }
  }
}