.home {
    display: grid;
    grid-template-areas:
        "home-body"
        "home-footer";
    grid-template-rows: 1fr 80px;
    height: 100%;

    .body {
        grid-area: home-body;
        display: grid;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        grid-row-gap: 15px;
        margin-bottom: 25px;

        .heading {
            font-size: 18px;
            text-align: center;

            p {
                font-size: 24px;
                margin-bottom: 5px;
            }

            font-weight: bold;
        }

        .info {
            text-align: center;
            font-size: 18px;

            .line {
                width: 60%;
                margin: auto;
            }

            p {
                margin-bottom: 0px;
            }
        }

        .form {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 0.3fr 1fr;
            grid-row-gap: 15px;

            label {
                font-weight: 600;
            }

            .form-control {
                display: grid;
                grid-template-columns: 1fr 2fr;

                .form-group {
                    display: grid;
                    grid-template-rows: repeat(3, 1fr);

                    .input-group {
                        display: grid;
                        grid-template-columns: 1fr 5fr;
                    }
                }
            }

            .form-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                button {
                    width: 200px;
                    padding: 16px;
                    border: none;
                    cursor: pointer;
                    color: antiquewhite;
                    font-size: 18px;
                    height: auto;
                }

                button.create {
                    background: blueviolet;
                }

                button.chat {
                    background: #2a2a;
                }

                .help-text {
                    font-size: small;
                    text-align: center;
                    width: 40%;
                }
            }
        }
    }
}

.footer {
    grid-area: home-footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #00796b;
    box-shadow: 0px 0px 5px #00796b;

    .login {
        text-align: right;
        padding-right: 15px;

        button {
            width: 120px;
            padding: 10px;
            border: none;
            cursor: pointer;
            color: antiquewhite;
            font-size: 18px;
            background: #2a2a;
        }
    }
}

@media only screen and (max-width: 812px) {
    .home {
        grid-template-rows: 1fr 60px;

        .body {
            width: 80%;
            grid-row-gap: 5px;
            margin: auto;
            margin-bottom: 5px;
            margin-top: 5px;

            .heading {
                p {
                    margin-top: 10px;
                }
            }

            .form {
                grid-template-rows: 1fr 1.2fr 0.8fr 0.2fr 1fr;
                grid-row-gap: 8px;

                .form-footer {
                    .help-text {
                        width: 100%;
                    }

                    button {
                        padding: 12px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-around;
    }
}