@import "src/style.scss";

.home {
  display: grid;
  grid-template-rows: 80px 1fr;

  .body {
    justify-self: center;
    display: grid;
    box-shadow: 0px 4px 12px 4px $box_shadow;
    border-radius: 12px;
    width: 450px;
    height: 475px;
    margin-top: 50px;
    padding-bottom: 12px;
    grid-template-rows: 150px auto;

    .heading {
      text-align: center;

      .title {
        font-size: 24px;
      }

      p {
        margin-bottom: 8px;
      }

      hr {
        width: 40%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .home {
    .body {
      width: 100%;
      height: auto;
      margin-bottom: 0px;
      margin-top: 0px;
      border-radius: 0px;
      padding-bottom: 0px;
      box-shadow: 0px 0px 4px 2px $box_shadow inset;
    }
  }
}
